@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.frontpage{
    background: url(../images/Frontpage.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
