@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.frontpage{
    background: url(../images/Frontpage.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.radioimg{
    text-align: center;
  }
  .radioimg  > input { 
      display:none;
  }
    
  .radioimg  > img{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    /* -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7); */
    -webkit-filter: brightness(1.2) grayscale(.8) opacity(1);
      -moz-filter: brightness(1.2) grayscale(.8) opacity(1);
      filter: brightness(1.2) grayscale(.8) opacity(1);
  }
  
  .radioimg  > input:checked + img{ 
      filter: unset;
  }
