div{
  display: inline-block;
}
.content{
  width: 99vw;
  height: 99vh;
  border: 5px solid black;
  overflow: hidden;
  float: left;
}
.side{
  float: left;
  width: 60%;
  height: 50%;
  border: 5px dashed blue;
}

.main{
  float: left;
  width: 35%;
  height: 50%;
  border: 5px dashed green;
}